POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=dd
POSTGRES_IMAGE_DB_DOCKER=myshoopDB
POSTGRES_PORT=5431
POSTGRES_DATABASE=myshoop

PORT=4000

DATABASE_URL=postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_IMAGE_DB_DOCKER}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public
